*{
    margin:0;
}

.Inicio{
   color: rgba(255, 121, 32, 0.942);
}



header,section,footer,nav,article{
   color: #000000 ;
   font-size:30px;
}

body{
   margin: 0;
   font-family: Arial, sans-serif;
   background-image: url('/assets/image/libro.webp');
   background-size:  cover; 
   background-position: center;
   background-attachment: fixed;
   background-repeat: no-repeat;
}
.footer{
 color: #ffffff ;
 text-align: center;
 background-color: black;
 font-size:30px;
}
 